*{
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    font-family: 'Jomhuria', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
body{
    overflow-x: hidden;

}
.logo-sp{
    color: #FF8D29;
}
.carousel-inner p{
    color: #FF8D29;
    font-size: x-large;
}
.carousel-inner h1{
    color: #fff;
    font-size: 50px;
}
.carousel-inner button{
    background-color: #000;
    color: white;
    transition: .5s;
    border: none;
    padding: 10px 30px;
    margin-top: 16px;
    font-size: 20px;
}
.carousel-inner button i{
    color: white;
    font-size: 23px;
    margin-left: 5px;
}

.carousel-inner button:hover{
    background-color: white;
    color: #000;
}
.carousel-inner button:hover i{
    color: #000;
}

.carousel-inner button:hover a{
    color: #000;
}
.carousel-inner button a{
    text-decoration: none;
    color: white;
}